@keyframes anim-cards {
  0% {
    transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anim-cards-desktop {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
body {
  font-family: Roboto;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  padding: 14px 89px 13px 17px;
  gap: 60px;
}
@media (min-width: 1055px) {
  .header {
    gap: 0;
    padding: 0;
    padding: 30px 0 32.14px 17px;
  }
}
.header__link {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
}
.header__link img {
  width: 30px;
  height: 30px;
}
.header__logo {
  display: flex;
  justify-content: flex-start;
  width: 204px;
}
@media (min-width: 376px) {
  .header__logo {
    width: 90%;
    justify-content: center;
  }
}
.header__logo__img {
  width: 162px;
  height: 44px;
}
@media (min-width: 1055px) {
  .header__logo__img {
    width: 200px;
    height: 34.2px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
}
@media (min-width: 376px) {
  .main {
    width: 100%;
  }
}
@media (min-width: 1055px) {
  .main {
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.main__header {
  width: 100%;
  height: 275px;
  margin: 0 0 -30px 0;
}
@media (min-width: 1055px) {
  .main__header {
    height: 383.142px;
  }
}
.main__header__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  width: 341px;
  height: 50px;
  padding: 40px 0px 40px 10px;
  white-space: nowrap;
}
@media (min-width: 376px) {
  .main__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
  }
}
@media (min-width: 1055px) {
  .main__title {
    width: 1055px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 51px 0 40px 0;
  }
}
.main__title__txt {
  width: 250px;
  height: 100%;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
@media (min-width: 1055px) {
  .main__title__txt {
    padding: 0;
    width: 27%;
  }
}
.main__title__fav {
  width: 22px;
  height: 21px;
  display: flex;
  align-items: center;
  margin: 0 0 0 45px;
  position: relative;
  z-index: 1;
}
@media (min-width: 1055px) {
  .main__title__fav {
    margin: 0;
  }
}
.main__title__fav:hover .main__title__fav__icon--default {
  opacity: 0;
}
.main__title__fav:hover .main__title__fav__icon--liked {
  opacity: 1;
}
.main__title__fav:not(:hover) .main__title__fav__icon--default {
  opacity: 1;
}
.main__title__fav:not(:hover) .main__title__fav__icon--liked {
  opacity: 0;
}
.main__title__fav__icon {
  width: 22px;
  height: 21px;
  position: absolute;
  z-index: -1;
  transition: opacity 400ms;
}
.main__order {
  max-width: 100%;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 40px 0;
}
@media (min-width: 1055px) {
  .main__order {
    width: 1055px;
  }
}
.main__order__btn {
  width: 186px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  transition: all 1000ms;
}
.main__order__btn:hover {
  opacity: 0.8;
  box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.25);
}
.main__order__btn:not(:hover) {
  opacity: 1;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 0 40px 0;
}
@media (min-width: 376px) {
  .menu {
    width: 100%;
    max-width: 1055px;
    align-items: center;
  }
}
@media (min-width: 1055px) {
  .menu {
    width: 1055px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
  }
}
.menu__title {
  margin: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
@media (min-width: 376px) {
  .menu__title {
    width: 100%;
    max-width: 604px;
  }
}
@media (min-width: 1055px) {
  .menu__title {
    width: 604px;
  }
}
.menu__title__underline {
  border-bottom: 3px solid #99e2d0;
  padding: 0 0 5px 0;
}
.menu__card {
  width: 319px;
  height: 42px;
  padding: 15px 0 15px 15px;
  display: flex;
  align-items: center;
  border-radius: 15.043px;
  background: white;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  animation: anim-cards 1000ms ease-in-out both;
}
@media (min-width: 1055px) {
  .menu__card {
    width: 604px;
  }
}
.menu__card--1 {
  animation-delay: 100ms;
}
.menu__card--2 {
  animation-delay: 200ms;
}
.menu__card--3 {
  animation-delay: 300ms;
}
.menu__card--4 {
  animation-delay: 400ms;
}
.menu__card--5 {
  animation-delay: 500ms;
}
.menu__card--6 {
  animation-delay: 600ms;
}
.menu__card--7 {
  animation-delay: 700ms;
}
.menu__card--8 {
  animation-delay: 800ms;
}
.menu__card--9 {
  animation-delay: 900ms;
}
.menu__card--10 {
  animation-delay: 1000ms;
}
.menu__card:hover .menu__card__select {
  margin-right: 0;
}
@media (min-width: 376px) {
  .menu__card {
    width: 90%;
    max-width: 604px;
  }
}
.menu__card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  overflow: hidden;
}
.menu__card__title__main {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.menu__card__title__sub {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.menu__card__price {
  margin: 0;
  padding: 0 15px 0 0;
  margin-left: auto;
  height: 42px;
  display: flex;
  align-items: flex-end;
  color: #353535;
  font-family: Roboto;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.menu__card__select {
  border: none;
  border-radius: 0 15.043px 15.043px 0;
  width: 59px;
  height: 72px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -59px;
  transition: all 1000ms ease-out;
}
.menu__card__select__icon {
  color: #99e2d0;
  border: none;
  width: 20px;
  height: 20px;
  font-size: 10px;
  font-weight: bolder;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  max-width: 100%;
  padding: 22px 25px;
  background: #353535;
}
@media (min-width: 1055px) {
  .footer {
    padding: 30px 25px;
  }
}
.footer__section {
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}
@media (min-width: 1055px) {
  .footer__section {
    height: 54px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.footer__section__title {
  height: 27px;
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
@media (min-width: 1055px) {
  .footer__section__title {
    margin: 0 0 0 80px;
  }
}
.footer__section__list {
  height: 115px;
  list-style-type: none;
  padding: 0px;
  margin: 0;
}
@media (min-width: 1055px) {
  .footer__section__list {
    display: flex;
    height: 20px;
    gap: 10px;
  }
}
.footer__section__list__item {
  padding: 5px 0 0 0;
}
@media (min-width: 1055px) {
  .footer__section__list__item {
    padding: 0;
  }
}
@media (min-width: 1055px) {
  .footer__section__list__item--margin {
    margin: 0 0 0 45px;
  }
}
.footer__section__list__item__link {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=menu.css.map */