body {
  font-family: Roboto;
}

.header {
  display: flex;
  margin: 15px 0 15px 0;
}
.header__logo {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo__img {
  width: 162px;
  height: 36px;
}

.main {
  display: flex;
  flex-direction: column;
}
.main__header {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.main__header__img {
  width: 100%;
  height: 275px;
}
.main__title {
  display: flex;
  align-items: center;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  margin: -30px 0 0 0;
}
.main__title__txt {
  width: 80%;
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0 0 0 20px;
}
.main__order {
  width: 100%;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 40px 0;
}
.main__order__btn {
  width: 186px;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 12px;
  background: #f6f6f6;
  padding: 0 0 40px 0;
}
.menu__title {
  width: 339px;
  height: 27px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
.menu .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.menu .cards .card {
  width: 339px;
  height: 69px;
  display: flex;
  align-items: center;
  border-radius: 15.043px;
  background: white;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
}
.menu .cards .card .link {
  width: 100%;
  padding: 15px;
  text-decoration: none;
  color: black;
  display: flex;
}
.menu .cards .card .link .card__title {
  width: 95%;
}
.menu .cards .card .link .card__title__main {
  height: 21px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
.menu .cards .card .link .card__title__sub {
  margin: 0;
  width: 280px;
  height: 19px;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 5px 0 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu .cards .card .link .card__price {
  margin: 0;
  align-self: flex-end;
  color: #353535;
  text-align: center;
  font-size: 15.043px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 5px 0 5px;
}

.footer {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: #353535;
}
.footer__section {
  width: 100%;
  height: 120px;
  background-color: #353535;
}
.footer__section__title {
  width: 137.582px;
  height: 27px;
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 22px 0 16px 25px;
}
.footer__section__list {
  list-style-type: none;
  padding: 0px;
  padding: 0 0 0 25px;
  margin: 0 0 22px 0;
}
.footer__section__list li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__section__list .link {
  text-decoration: none;
  color: white;
}
.footer__section__list .utensils {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}
.footer__section__list .handshake-angle {
  width: 11.918px;
  height: 13px;
  margin-right: 10px;
}
.footer__section__list__txt {
  font-weight: 500;
}/*# sourceMappingURL=menu.css.map */