// Variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-grey: #eaeaea;
$location-color: #353535;
$grey-tint: #7e7e7e;
$dark-grey: #353535;
$light-grey: #f6f6f6;

// Mixins
@mixin primary-btn {
    width: 218px;
    height: 50px;
    padding: 13px 18.75px 13px 18.75px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background: linear-gradient(193deg, $primary-color -11.44%, $secondary-color 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin secondary-btn {
    width: 186px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, $primary-color -5.2%, $secondary-color 110.74%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

@mixin tertiary-btn {
    width: 322.486px;
    height: 72.379px;
    border: none;
    border-radius: 20px;
    background: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

@mixin num-border {
    width: 24px;
    height: 24px;
    color: white;
    border: none;
    border-radius: 50%;
    background: $primary-color;
    font-family: Roboto;
    font-size: 14.182px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin link-basic-att {
    text-decoration: none;
    color: black;
}

@mixin list-basic-att {
    list-style-type: none;
    padding: 0px;
}

@mixin margin-reset {
    margin: 0;
}

@mixin padding-reset {
    padding: 0;
}

@mixin card-border {
    width: 349px;
    height: 69px;
    align-items: center;
    border-radius: 15.043px;
    background: white;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

}

// Générales
body {
    font-family: Roboto;
}

// header
.header {
    display: flex;

        &__logo {
            width: 95%;
            @include flex-center-row;
        }
}

// Main
.main {
    display: flex;
    flex-direction: column;

        &__header {
            width: 100%;
            height: fit-content;

                &__img {
                    width: 100%;
                }
        }

        &__title {
            display: flex;
            align-items: center;
            border-radius: 40px 40px 0 0;
            background-color: $light-grey;
            margin: -30px 0 0 0;

                &__txt {
                    width: 80%;
                    font-family: Shrikhand;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    padding: 0 0 0 20px;
                }
        }
}

// starter

