// Variables
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-grey: #eaeaea;
$location-color: #353535;
$grey-tint: #7e7e7e;
$dark-grey: #353535;
$light-grey: #f6f6f6;

// Mixins
@mixin primary-btn {
    width: 218px;
    height: 50px;
    padding: 13px 18.75px 13px 18.75px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background: linear-gradient(193deg, $primary-color -11.44%, $secondary-color 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin secondary-btn {
    width: 186px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background: linear-gradient(193deg, $primary-color -11.44%, $secondary-color 123.93%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

@mixin tertiary-btn {
    width: 322.486px;
    height: 72.379px;
    border: none;
    border-radius: 20px;
    background: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

@mixin num-border {
    width: 24px;
    height: 24px;
    color: white;
    border: none;
    border-radius: 50%;
    background: $primary-color;
    font-family: Roboto;
    font-size: 14.182px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin link-basic-att {
    text-decoration: none;
    color: black;
}

@mixin list-basic-att {
    list-style-type: none;
    padding: 0px;
}

@mixin margin-reset {
    margin: 0;
}

@mixin padding-reset {
    padding: 0;
}

@mixin card-border {
    width: 319px;
    height: 42px;
    padding: 15px;
    display: flex;
    align-items: center;
    border-radius: 15.043px;
    background: white;
    box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);

}

// Générales
body {
    font-family: Roboto;
}

// header
.header {
    display: flex;
    margin: 15px 0 15px 0;

        &__logo {
            width: 90%;
            @include flex-center-row;

                &__img {
                    width: 162px;
                    height: 36px;
                }
        }
}

// Main
.main {
    display: flex;
    flex-direction: column;
    background: $light-grey;
    @media (min-width: 1055px) {
        width: 100%;
        background: white;
        @include flex-center-column;
    }

        &__header {
            width: 100%;
            height: 275px;
            margin: 0 0 -30px 0;
            @media (min-width: 1055px) {
                height: 383.142px;
            }

                &__img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
        }

        &__title {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 40px 40px 0 0;
            background-color: $light-grey;
            width: 100%;
            height: 50px;
            padding: 40px 0 40px 10px;
            @media (min-width: 1055px) {
                width: 1055px;
                @include margin-reset;
                @include flex-center-row;
                padding: 51px 0 40px 0;
            }

                &__txt {
                    width: 70%;
                    height: 100%;
                    font-family: Shrikhand;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    @include margin-reset;
                    @media (min-width: 1055px) {
                        @include padding-reset;
                        width: 27%;
                    }
                }

                &__fav {
                    width: 22px;
                    height: 21px;
                    display: flex;
                    align-items: center;
                    margin: 0 0 0 45px;
                    position: relative;
                    z-index: 1;
                    @media (min-width:1055px) {
                        @include margin-reset;
                    }

                    &:active {
                        & .main__title__fav__icon--default {
                            opacity: 0;
                        }

                        & .main__title__fav__icon--liked {
                            opacity:1;
                        }
                    }

                    &:not(:active) {
                        & .main__title__fav__icon--default {
                            opacity: 1;
                        }

                        & .main__title__fav__icon--liked {
                            opacity:0;
                        }
                    }

                    @media (min-width: 1055px) {
                        &:hover {
                            & .main__title__fav__icon--default {
                                opacity: 0;
                            }

                            & .main__title__fav__icon--liked {
                                opacity:1;
                            }
                        }

                        &:not(:hover) {
                            & .main__title__fav__icon--default {
                                opacity: 1;
                            }

                            & .main__title__fav__icon--liked {
                                opacity:0;
                            }
                        }

                    }


                        &__icon {
                            width: 22px;
                            height: 21px;
                            position: absolute;
                            z-index: -1;
                            transition: opacity 400ms;
                        }
                }
        }

        &__order {
            max-width: 100%;
            background: $light-grey;
            @include flex-center-row;
            padding: 0 0 40px 0;
            @media (min-width: 1055px) {
                width: 1055px;
            }

                &__btn {
                    @include secondary-btn;
                    transition: background-color 400ms, box-shadow 400ms;
                    &:active {
                        background: linear-gradient(193deg,
                        lighten($primary-color, 5%) -11.44%,
                        lighten($secondary-color, 5%) 123.93%);
                        box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.25);
                    }

                    &:not(:active) {
                        background: linear-gradient(193deg,
                        $primary-color -11.44%,
                        $secondary-color 123.93%);
                        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                    }

                    @media (min-width: 1055px) {
                        &:hover {
                            background: linear-gradient(193deg,
                            lighten($primary-color, 5%) -11.44%,
                            lighten($secondary-color, 5%) 123.93%);
                            box-shadow: 0px 7px 11px 0px rgba(0, 0, 0, 0.25);
                        }
    
                        &:not(:hover) {
                            background: linear-gradient(193deg,
                            $primary-color -11.44%,
                            $secondary-color 123.93%);
                            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
                        }
                        }
                }
        }
}

// Menu
.menu {
    @include flex-center-column;
    width: 100%;
    gap: 12px;
    background: $light-grey;
    padding: 0 0 40px 0;
    @media (min-width: 1055px) {
        width: 1055px;
    }

        &__title {
            width: 339px;
            height: 27px;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-transform: uppercase;
            @include margin-reset;
            margin: 0 0 -15px 0;
            @media (min-width: 1055px) {
                width: 634px;
            }
        }

        &__underline {
            border-bottom: 3px solid #99e2d0;
            padding: 0 0 5px 0;
        }

        &__list {
            height: 270px;
            @include flex-center-column;
            overflow: hidden;
            gap: 12px;
            @media (min-width: 1055px) {
                width: 634px;
            }

            &__card {
                display: flex;
                &:hover + .menu__list__card__content {
                    width: 100px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                &__content {
                    @include card-border;
                    transform-origin: right;
                    transition: all 1000ms;
                    &:hover + .menu__list__card__select {
                        transform: scaleX(1);
                        visibility: visible;
                    }

                    @media (min-width: 1055px) {
                        width: 604px;
                    }

                    &__title {
                        width: 95%;
                        white-space: nowrap;
                        transition: all 2000ms;
                        transform-origin: right;
                        display: flex;
                        flex-direction: column;
                        &:hover + .menu__list__card__content__price {
                            display: inline-block;
                            margin: 0 59px 0 0;
                        }
                       
                     

                        &__main {
                            @include margin-reset;
                            overflow: hidden;
                            color: #000;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            transition: all 2000ms;
                            transform-origin: right;
                            display: inline-block;
                            

                        }

                        &__sub {
                            
                            @include margin-reset;
                            overflow: hidden;
                            color: #000;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size: 15.043px;
                            font-style: normal;
                            font-weight: 300;
                            line-height: normal;
                            transition: all 2000ms;
                            transform-origin: right;
                            display: inline-block;

                        }
                    }

                    &__price {
                        width: 20%;
                        @include margin-reset;
                        align-self: flex-end;
                        color: #353535;
                        text-align: center;
                        font-family: Roboto;
                        font-size: 15.043px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        transition: all 2000ms;
                        display: flex;
                        justify-content: flex-end;
                       
                        
                    }
                }

                &__select {
                    border: 2px solid #99e2d0;
                    border-radius: 0 15.043px 15.043px 0;
                    width: 59px;
                    height: 69px;
                    background-color:#99e2d0;
                    margin: 0 0 0 -59px;
                    @include flex-center-row;
                    transform-origin: right;
                    transform: scaleX(0);
                    transition: transform 2000ms;
                    visibility: collapse;

                    &__icon {
                        color: #99e2d0;
                        border: none;
                        width: 20px;
                        height: 20px;
                        font-size: 10px;
                        font-weight: bolder;
                        border-radius: 50%;
                        background-color: white;
                        @include flex-center-row;
                    }
                }
            }
            
        }
}
        
        



// Footer
.footer {
    max-width: 100%;
    padding: 22px 25px;
    background: $dark-grey;
    @media (min-width: 1055px) {
        padding: 30px 25px;
    }

        &__section {
            height: 142px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 16px;
            @media (min-width: 1055px) {
                height: 54px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-start;
                align-items: flex-end;
            }

                &__title {
                    height: 27px;
                    color: white;
                    font-family: Shrikhand;
                    font-size: 18px;
                    font-weight: 400;
                    @include margin-reset;
                    @media (min-width: 1055px) {
                        margin: 0 0 0 80px;
                    }
                }

                &__list {
                    height: 115px;
                    @include list-basic-att;
                    @include margin-reset;
                    @media (min-width: 1055px) {
                        display: flex;
                        height: 20px;
                        gap: 10px;
                    }

                        &__item {
                            padding: 5px 0 0 0;
                            @media (min-width: 1055px) {
                                @include padding-reset;
                            }

                                &--margin {
                                    @media (min-width: 1055px) {
                                        margin: 0 0 0 45px;
                                    }
                                }

                                &__link {
                                    text-decoration: none;
                                    color: white;
                                }
                        }
                }
        }
}
