* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__logo {
  width: 100%;
  height: 63px;
  padding: 14px 89px 13px 89px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo__img {
  width: 197px;
  height: 36px;
  padding: 0px 19px 0px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__location {
  width: 100%;
  height: 50px;
  gap: 17px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__location__txt {
  border: none;
  background-color: #eaeaea;
  width: 109px;
  height: 19px;
  font-size: 16px;
  font-weight: 500;
}

.main {
  width: 100%;
}
.main__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 0 50px 0;
  background-color: #f6f6f6;
}
.main__header__title {
  width: 73.333%;
  height: 68px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.main__header__subtitle {
  width: 84%;
  height: 46px;
  color: #353535;
  text-align: center;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  margin: 10px 0 30px 0;
}
.main__header__btn {
  width: 218px;
  height: 50px;
  padding: 13px 18.75px 13px 18.75px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.functioning {
  width: 100%;
  height: 440px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.functioning__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  margin: 0px 0px 20px 0px;
  padding-left: 10px;
}
.functioning__steps {
  display: flex;
  flex-wrap: wrap;
}
.functioning__steps__step {
  display: flex;
  align-items: center;
}
.functioning__steps__step__num {
  width: 24px;
  height: 24px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #9356dc;
  font-family: Roboto;
  font-size: 14.182px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}
.functioning__steps__step__btn {
  width: 322.486px;
  height: 72.379px;
  border: none;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 10px -12px;
}
.functioning__steps__step__btn .fa-solid {
  margin-right: 27px;
}
.functioning__steps__step__btn .fa-mobile-screen-button {
  width: 13.019px;
  height: 19.903px;
  color: #7e7e7e;
}
.functioning__steps__step__btn .fa-list-ul {
  width: 16px;
  height: 15.922px;
  color: #7e7e7e;
}
.functioning__steps__step__btn .fa-store {
  width: 18px;
  height: 17.913px;
  color: #9356dc;
}
.functioning__steps__step__btn__txt {
  width: 211px;
  height: 15.67;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
}

.restaurants {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f6f6f6;
  padding: 50px 0px 20px 0px;
}
.restaurants__title {
  margin: 0;
  padding: 0px 0px 0px 10px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.restaurants__cards {
  width: 100%;
  height: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.restaurants__cards .card {
  width: 90.667%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.restaurants__cards .card--margin {
  margin-bottom: 20px;
}
.restaurants__cards .card__link {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 200px;
}
.restaurants__cards .card__link__tag {
  width: 88px;
  height: 28px;
  color: #008766;
  font-style: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  border: 1px solid #99e2d0;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0px 0px -50px 230px;
  position: sticky;
}
.restaurants__cards .card__link__img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.restaurants__cards .card__content {
  display: flex;
}
.restaurants__cards .card__content__txt {
  width: 85%;
  display: flex;
  align-items: center;
  padding: 0px 0px 10px 13px;
}
.restaurants__cards .card__content__txt__link {
  text-decoration: none;
  color: black;
}
.restaurants__cards .card__content__txt__link__name {
  margin: 0;
  margin: 10px 0 5px 0;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.restaurants__cards .card__content__txt__link__location {
  margin: 0;
  color: #000;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.restaurants__cards .card__content__icon {
  display: flex;
  align-items: center;
}
.restaurants__cards .card__content__icon .icon {
  fill: none;
  stroke: #101010;
}
.restaurants__cards .card__content__icon .icon:hover {
  fill: #9356dc;
  stroke: none;
}

.footer {
  width: 100%;
  display: flex;
  padding: 22px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background-color: #353535;
}
.footer__section {
  width: 100%;
  height: 120px;
  background-color: #353535;
}
.footer__section__title {
  width: 137.582px;
  height: 27px;
  color: white;
  font-family: Shrikhand;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.footer__section__list {
  list-style-type: none;
  padding: 0px;
}
.footer__section__list li {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__section__list .link {
  text-decoration: none;
  color: white;
}
.footer__section__list .utensils {
  width: 11px;
  height: 13px;
  margin-right: 10px;
}
.footer__section__list .handshake-angle {
  width: 11.918px;
  height: 13px;
  margin-right: 10px;
}
.footer__section__list__txt {
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */