$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-grey: #eaeaea;
$location-color: #353535;
$grey-tint: #7e7e7e;
$dark-grey: #353535;

// Mixins
@mixin primary-btn {
    width: 218px;
    height: 50px;
    padding: 13px 18.75px 13px 18.75px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background: linear-gradient(193deg, $primary-color -11.44%, $secondary-color 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

@mixin secondary-btn {
    width: 186px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, $primary-color -5.2%, $secondary-color 110.74%);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

@mixin tertiary-btn {
    width: 322.486px;
    height: 72.379px;
    border: none;
    border-radius: 20px;
    background: #f6f6f6;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

@mixin num-border {
    width: 24px;
    height: 24px;
    color: white;
    border: none;
    border-radius: 50%;
    background: $primary-color;
    font-family: Roboto;
    font-size: 14.182px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin link-basic-att {
    text-decoration: none;
    color: black;
}

@mixin list-basic-att {
    list-style-type: none;
    padding: 0px;
}

@mixin margin-reset {
    margin: 0;
}

@mixin padding-reset {
    padding: 0;
}

// Générales
* {
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    @include padding-reset;
}

// Header

.header {
    @include flex-center-row;
    flex-direction: column;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    @media (min-width: 1080px) {
        width: 100%;
    }

        &__logo {
            width: 100%;
            height: 63px;
            padding: 14px 89px 13px 89px;
            background-color: white;
            @include flex-center-row;

                &__img {
                    width: 197px;
                    height: 36px;
                    padding: 0px 19px 0px 16px;
                    @include flex-center-row;
                }
        }

        &__location {
            width: 100%;
            height: 50px;
            gap: 17px;
            background-color: $background-grey;
            @include flex-center-row;

                &__txt {
                    border: none;
                    background-color: #eaeaea;
                    width: 109px;
                    height: 19px;
                    font-size: 16px;
                    font-weight: 500;
                }
        }
}

// Main
.main {
    width: 100%;
    @media (min-width: 1080px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

        &__header {
            @include flex-center-column;
            width: 100%;
            height: 304px;
            padding: 50px 0 50px 0;
            background-color: #f6f6f6;
            @media (min-width: 1080px) {
                @include padding-reset;
                @include flex-center-column;
                height: 179px;
                gap: 18px;
            }

                &__title {
                    width: 73.333%;
                    height: 68px;
                    text-align: center;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    @include margin-reset;
                    @media (min-width: 1080px) {
                        @include flex-center-row;
                        height: 29.6px;
                    }
                }

                &__subtitle {
                    width: 84%;
                    height: 46px;
                    color: #353535;
                    text-align: center;
                    font-size: 17px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    @include margin-reset;
                    margin: 10px 0 30px 0;
                    @media (min-width: 1080px) {
                        @include margin-reset;
                        @include flex-center-row;
                        height: 20px;
                    }
                }

                &__btn {
                    @include primary-btn;
                }
        }
}

// Fonctionnement
.functioning {
    width: 100%;
    height: 440px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 1080px) {
        width: 100%;
        height: 127px;
        gap: 25px;
        @include flex-center-row;
        padding: 0 0 0 15px;
        margin: 25px;
    }

        &__title {
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @include margin-reset;
            margin: 0px 0px 20px 0px;
            padding-left: 10px;
            @media (min-width: 1080px) {
                @include margin-reset;
                @include padding-reset;
                width: 1080px;
                height: 29.6px;
            }
        }

        &__steps {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            @media (min-width: 1080px) {
                width: 1080px;
                height: 72.3833px;
                gap: 20px;
                display: flex;
                justify-content: flex-start;
                flex-wrap: nowrap;
            }

                &__step {
                    display: flex;
                    align-items: center;

                    &__num {
                        @include num-border;
                        @include flex-center-row;
                        position: sticky;
                    }
    
                    &__btn {
                        @include tertiary-btn;
                        @include flex-center-row;
                        margin: 10px 0px 10px -12px;
                        @media (min-width: 1080px) {
                            margin-top: 0;
                            margin-bottom: 0;
                        }
                        
    
                            .fa-solid {
                                margin-right: 27px;
                                @media (min-width: 1080px) {
                                    @include flex-center-row;
                                }
                            }
                        
                            .fa-mobile-screen-button {
                                width: 13.019px;
                                height: 19.903px;
                                color: $grey-tint;
                            }
    
                            .fa-list-ul {
                                width: 16px;
                                height: 15.922px;
                                color: $grey-tint;
                            }
    
                            .fa-store {
                                width: 18px;
                                height: 17.913px;
                                color: $primary-color;
                            }
    
                            &__txt {
                                width: 211px;
                                height: 15.67px;
                                font-size: 16px;
                                font-weight: 500;
                                text-align: left;
                            }
    
                    }
    
                }

        }
}

// Restaurants
.restaurants {
    width: 100%;
    height: 1329.6px;
    background-color: #f6f6f6;
    padding: 50px 0px 50px 0px;
    @media (min-width: 1080px) {
        width: 100%;
        height: 746.8px;
        gap: 28px;
        @include flex-center-column;
    }

        &__title {
            @include margin-reset;
            padding: 0px 0px 0px 10px;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            @media (min-width: 1080px) {
                width: 1080px;
                height: 49.6px;
                padding: 0 0 10px 10px;
            }
        }

        &__cards {
            width: 100%;
            height: 1200px;
            @include flex-center-column;
            @media (min-width: 1080px) {
                width: 100%;
                height: 600px;
                gap: 50px;
            }
            

            &__bloc {
                width: 100%;
                height: 600px;
                gap: 18px;
                @include flex-center-column;
                @media (min-width: 1080px) {
                    width: 1080px;
                    height: 300px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 100px;
                    padding: 0 10px 0 10px;
                }

                    &--border {
                        margin: 0 0 -32px 0;
                        @media (min-width: 1080px) {
                            @include margin-reset;
                        }
                    }
    
                    .card {
                        width: 340px;
                        height: fit-content;
                        border-radius: 15px;
                        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
                        @media (min-width: 1080px) {
                            width: 45.3335%;
                            height: fit-content;
                        }
    
                            &--margin {
                                margin-bottom: 20px;
                                @media (min-width: 1080px) {
                                    @include margin-reset;
                                }
                            }
    
                            &__link {
                                @include link-basic-att;
                                width: 100%;
                                height: 200px;
                                @media (min-width: 1080px) {
                                    width: 100%;
                                }
    
                                    &__tag {
                                        width: 88px;
                                        height: 28px;
                                        color: #008766;
                                        font-size: 14px;
                                        font-weight: 500;
                                        @include flex-center-row;
                                        background-color: #99e2d0;
                                        border: 1px solid #99e2d0;
                                        border-radius: 2px;
                                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                                        margin: 0px 0px -50px 230px;
                                        position: sticky;
                                        @media (min-width: 1080px) {
                                            @include margin-reset;
                                            margin: 0 0 -50px 375px;
                                        }
                                    }
    
                                    &__img {
                                        width: 100%;
                                        height: 200px;
                                        object-fit: cover;
                                        border-radius: 15px;
                                    }
    
                            }
    
                            &__content {
                                display: flex;
    
                                    &__txt {
                                        width: 85%;
                                        display: flex;
                                        align-items: center;
                                        padding: 0px 0px 10px 13px;
                                        @media (min-width:1080px) {
                                            width: 90%;
                                        }
    
                                            &__link {
                                                @include link-basic-att;
    
                                                &__name {
                                                    @include margin-reset;
                                                    margin: 10px 0 5px 0;
                                                    color: #000;
                                                    font-size: 18px;
                                                    font-style: normal;
                                                    font-weight: 700;
                                                    line-height: normal;
                                                }
        
                                                &__location {
                                                    @include margin-reset;
                                                    color: #000;
                                                    font-size: 17px;
                                                    font-style: normal;
                                                    font-weight: 300;
                                                    line-height: normal;
                                                }
        
                                            }
    
                                    }
    
                                    &__icon {
                                        display: flex;
                                        align-items: center;
    
                                            .icon {
                                                fill: none;
                                                stroke: #101010;
                                            }
    
                                            .icon:hover {
                                                fill: $primary-color;
                                                stroke: none;
                                            }
                                        
                                    }
                            }
                    }
            }
    

        }

}

// Footer
.footer {
    width: 100%;
    display: flex;
    padding: 22px 25px;
    flex-direction: column;
    align-items: flex-start;
    background-color: $dark-grey;
    @media (min-width: 1080px) {
        width: 100%;
        height: 114px;
        padding: 30px 25px;
    }

        &__section {
        width: 100%;
        height: 142px;
        background-color: $dark-grey;
        @media (min-width: 1080px) {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            gap: 16px;
        }

            &__title {
                width: 137.582px;
                height: 27px;
                color: white;
                font-family: Shrikhand;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @include margin-reset;
                margin: 0 0 16px 0;
                @media (min-width: 1080px) {
                    @include margin-reset;
                    width: 11.5%;
                    height: 27px;
                }
                
                &--margin {
                    @media (min-width: 1080px) {
                        margin: 0 0 0 0;
                    }
                }
            }

            &__list {
                gap: 7px;
                @include list-basic-att;
                @include margin-reset;
                display: flex;
                flex-direction: column;
                @media (min-width: 1080px) {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    gap: 10px;
                }

                    &__item {
                        width: 60%;
                        @media (min-width: 1080px) {
                            width: fit-content;
                            height: 20px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                        }

                        &--margin {
                            @media (min-width: 1080px) {
                                margin: 0 0 0 10px;
                            }
                        }

                        &__icon {
                            height: 13px;
                            margin: 0 5px 0 0;

                            &--utensils {
                                width: 11px;
                            }

                            &--handshake {
                                width: 11.918px;
                            }
                        }

                        &__link {
                            text-decoration: none;
                            color: white;
                            font-size: 16px;
                            font-weight: 500;
                            @media (min-width: 1080px) {
                                width: 100%;
                                height: 20px;
                                display: flex;
                                justify-content: flex-start;
                            }

                            &--width12 {
                                width: 168px;
                            }

                            &--width34 {
                                width: 130px;
                            }
                        }
                    }
            }
        }
}


        



